/* ----------------------------------------------------------------------------
 * Baseline Normalize
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
    font-size: 62.5%;
    height:100%;
    min-height:100%;
}

body {
    font: 400 1.4rem/1.4 sans-serif;
    color: #222;
    margin: 0;
    background: #fff;
    height:100%;
    min-height:100%;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

a {
    color: $main-color;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
}

ol, ul {

}

select{
    width: 100%;
}

@-webkit-keyframes slideDown{
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown{
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown{
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
    }
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@font-face {
  font-family: 'UTMDuepuntozero';
  src: url('../fonts/UTMDuepuntozero.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMDuepuntozero.woff') format('woff'), url('../fonts/UTMDuepuntozero.ttf')  format('truetype'), url('../fonts/UTMDuepuntozero.svg#UTMDuepuntozero') format('svg');
  font-weight: normal;
  font-style: normal;
}
