/* ----------------------------------------------------------------------------
 * WordPress Core Styles
 * ------------------------------------------------------------------------- */

/*--------------------------------------------------------------
#  Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
#  Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
#  Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
#  Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
#  Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
#  Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &-text {
    margin: 0.8075em 0;
    text-align: center;
  }
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
#  Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/* ----------------------------------------------------------------------------
 * Calendar widget
 * ------------------------------------------------------------------------- */
.widget_calendar {display: table;width: 100%;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #ccc; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #ccc; font-family: sans-serif; font-weight: 300;}
#wp-calendar tbody td { background: #ccc; border: 1px solid #ccc; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #ccc; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

/* ----------------------------------------------------------------------------
 * Recommended sizes
 * ------------------------------------------------------------------------- */
 .size-auto,
 .size-full,
 .size-large,
 .size-medium,
 .size-thumbnail {
    max-width: 100%;
    height: auto;
 }

/* ----------------------------------------------------------------------------
 * Responsive
 * ------------------------------------------------------------------------- */
.wp-caption .wp-caption-text,
.gallery-caption {

    @include r(240)  { font: 300 1.4rem/1.8rem sans-serif; }
    @include r(320)  { font: 300 1.55rem/1.8 sans-serif;   }
    @include r(480)  { font: 300 1.8rem/1.8 sans-serif;    }
    @include r(768)  { font: 300 1.9rem/1.7 sans-serif;    }
    @include r(1024) { font: 300 2rem/3.1rem sans-serif;   }
    @include r(1280) { font: 300 2rem/3.1rem sans-serif;   }

}
