.pagination {
  display: block;
  padding-bottom: 50px;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 0;
  width: 70%;
  margin: 50px auto;
  .nav-links {
    display: table;
    margin: 0 auto;
    .page-numbers {
      padding: 3px 6px;
      border: 1px solid #a8a8a8;
      font-size: 10px;
      margin: 2px;
      border-radius: 3px;
      background: #ffae00;
      color: white;
      &.current {
        background: white;
        border-color: #ffae00;
        color: #a8a8a8;
      }
    }
  }
}
