/*--------------------------------------------------------------
##  Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.single .hentry {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.byline,
.updated:not(.published) {
  display: none;
}

.posted-on .fa,
.byline .fa {
    margin-right: 5px;
}

.entry-meta,
.entry-meta a {
    color: #757575;
    font-size: 12px;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  font-size: 12px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

h1.entry-title {
    background: url( ../images/title-bg.png );
    color: #fff;
    margin: 0;
    padding: 15px 0;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    font-size: 14px;
}

h2.entry-title {
    font-size: 14px;
    font-weight: bold;
}

.blog .entry-content,
.archive .entry-content {
  margin-top: .5em;
  font-size: 12px;
}

.blog .entry-header .post-thumbnail,
.archive .entry-header .post-thumbnail {
  border: 1px solid #ddd;
  padding: 2px;
}

.post-type-archive-bai-hoc {
  h2.entry-title {
    margin: 0;
  }
}
