/*--------------------------------------------------------------
#  Widgets
--------------------------------------------------------------*/
.widget {
    ul {
        padding-left: 0;
        list-style: none;
    }
}

.widget-title {
    background: $main-color;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12.5px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin-top: 0;
    a {
        color: #353535;
    }
}

.sidebar {
    .widget {
        margin-bottom: 2em;
    }
}

@import 'widgets/search-form';
@import 'widgets/widget-nav-menu';
@import 'widgets/widget-featured-lessons';
@import 'widgets/widget-new-lessons';
@import 'widgets/widget-free-lessons';
@import 'widgets/widget-news';
@import 'widgets/widget-lesson-info';
@import 'widgets/widget-instructor-avatar';
