/*--------------------------------------------------------------
#  Search Form Widget
--------------------------------------------------------------*/
.search-form {
    position: relative;
    width: 250px;
    label {
      display: none;
    }
}

.search-field {
    display: block;
    border: none;
    padding: 8px;
    width: calc(100% - 33px);
    outline: none;
}

.search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    color: black;
    padding: 8px 10px;
    outline: none;
}
