.lesson-info {
  .lesson-widget-title {
      font-size: 12px;
      font-weight: bold;
  }
  .lesson-view-count, .lesson-category {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .lesson-instructor {
    .instructor-name {
      font-size: 12px;
    }
    .instructor-avatar {
      margin-top: 20px;
      a {
        margin: 0 auto;
        display: table;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
