.pd__grid_lessons {
  .list_item {
    .list_item-thumbnail {
      position: relative;
      .read-more-lessons {
        background: rgba(0, 0, 0, 0.51);
        opacity: 0;
        visibility: hidden;
        @include scale(0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @include transition(all .25s ease-in-out);
        a {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          background: #ffae00;
          color: #fff;
          font-size: 14px;
          padding: 10px 30px;
          border: 1px solid #fff;
          border-radius: 3px;
          @include translate( -50%, -50% );
        }
      }
    }
    &:hover {
      .list_item-thumbnail {
        .read-more-lessons {
          opacity: 1;
          visibility: visible;
          @include scale(1);
        }
      }
    }
    .list_item-details {
      padding: 20px 0;
      text-align: center;
      a {
        border-bottom: 1px solid;
        &:hover {
          color: #ffae00;
        }
      }
    }
  }
}
