.pd__grid_lessons.pd_new_lessons {
  .widget-title {
    background: transparent;
    color: $main-color;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .2px;
    position: relative;
    margin-bottom: 20px;
    &:before, &:after {
      content: '';
      height: 1px;
      background: #cecece;
      display: block;
      margin: 2px 0;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #efefef;
      padding: 10px 25px;
    }
  }
  .list_item {
    .list_item-thumbnail {
      position: relative;
      .read-more-lessons {
        background: rgba(0, 0, 0, 0.51);
        opacity: 0;
        visibility: hidden;
        @include scale(1);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 100%;
        @include transition(all .25s ease-in-out);
        .fa {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          color: #ffae00;
          font-size: 60px;
          padding: 10px 30px;
          border-radius: 3px;
          @include translate( -50%, -50% );
        }
      }
    }
    &:hover {
      .list_item-thumbnail {
        .read-more-lessons {
          bottom: 0;
          opacity: 1;
          visibility: visible;
          @include transform(none);
        }
      }
    }
    .list_item-details {
      text-align: left;
      a {
        display: block;
        margin-bottom: 10px;
        border-bottom: none;
        font-weight: bold;
        &:hover {
          color: #ffae00;
        }
      }
      p {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}

.pd__grid_lessons {
  .view-all-lessons {
    display: table;
    padding: 10px 40px;
    margin: 0 auto;
    background: #ffae00;
    color: #fff;
    border-radius: 3px;
  }
}

@media (max-width: 1199px) {
  .pd_new_lessons {
    padding: 0 15px;
  }
}
