.pd__grid_posts.pd_news {
  .widget-title {
    background: transparent;
    color: $main-color;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .2px;
    position: relative;
    margin-bottom: 20px;
    &:before, &:after {
      content: '';
      height: 1px;
      background: #cecece;
      display: block;
      margin: 2px 0;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 10px 25px;
    }
  }
  .list_item {
    margin-bottom: 20px;
    .list_item-thumbnail {
      float: left;
      margin-right: 20px;
      width: 250px;
    }
    .list_item-details {
      font-size: 12px;
      overflow: hidden;
      a.news-title {
        display: block;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 15px;
      }
    }
  }
}

.pd__grid_posts {
  .view-all-post {
    display: table;
    padding: 10px 40px;
    margin: 30px auto 0 auto;
    background: #ffae00;
    color: #fff;
    border-radius: 3px;
  }
}

@media (max-width: 991px) {
    .pd__grid_posts.pd_news {
      .list_item {
        .list_item-thumbnail {
          float: none;
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
}
