/*--------------------------------------------------------------
#  Widget Nav Menu
--------------------------------------------------------------*/
.sidebar .widget_nav_menu {
    .menu {
        background: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #ececec;
        li:not(:first-child) {
            border-top: 1px dashed #ccc;
            a {
                padding: 10px 12px;
                display: block;
                font-weight: 600;
            }
            a:before {
                content: "\f105";
                float: left;
                font-family: fontawesome;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .sidebar .widget_nav_menu {
        display: none;
    }
}
