/*--------------------------------------------------------------
#  Footer
--------------------------------------------------------------*/
.site-footer {
    background: #b6b6b6;
    font-size: 12px;
    .widget {
        margin-bottom: 0;
        &-title {
            background: none;
            text-align: left;
            text-transform: none;
            padding-left: 0;
            padding-bottom: 0;
            margin: 10px 0 10px;
            text-transform: uppercase;
        }
    }
}

@import 'footer/top-footer';
@import 'footer/columns-footer';
@import 'footer/copyright';
@import 'footer/mobile-menu';
@import 'footer/back-to-top';
