/*--------------------------------------------------------------
#  Contact Form 7
--------------------------------------------------------------*/
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    outline: none;
}

.wpcf7-form-control::placeholder,
.wpcf7-form-control::-webkit-input-placeholder,
.wpcf7-form-control::-moz-placeholder,
.wpcf7-form-control:-moz-placeholder,
.wpcf7-form-control:-ms-input-placeholder {
    color: #fff;
}

.contact_details {
  .contact_form {
    .wpcf7-form-control:not(.wpcf7-submit) {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0 10px 0;
    }

    .contact_form--title {
      &:before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        float: left;
        padding-left: 15px;
        background: url(../images/plus-green.png) no-repeat left center;
        margin-top: 4px;
        margin-right: 3px;
      }
      span {
        margin-bottom: 20px;
        border-bottom: 1px dotted #565656;
        display: block;
        overflow: hidden;
        padding-bottom: 1px;
      }
    }

    .contact_form--submit {
      text-align: center;
      .wpcf7-submit {
          border: 0;
          background: #ffae00;
          color: white;
          padding: 10px 40px;
          border-radius: 5px;
      }
    }
  }

  .location {
    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      float: left;
      padding-left: 15px;
      background: url(../images/plus-green.png) no-repeat left center;
      margin-top: 4px;
      margin-right: 3px;
    }
    span {
      margin-bottom: 20px;
      border-bottom: 1px dotted #565656;
      display: block;
      overflow: hidden;
      padding-bottom: 1px;
    }
  }
  .address {
    strong {
      display: block;
      margin-bottom: 10px;
    }
  }
}
