/*--------------------------------------------------------------
#  Layout
--------------------------------------------------------------*/
.site.boxed {
    margin: 0 auto;
    background: transparent;
    &.w1000 {
      max-width: 1000px;
    }
    &.w1170 {
      max-width: 1170px;
    }
    &.w1200 {
      max-width: 1200px;
    }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }

  .site.w1000 .container {
      width: 1000px;
  }

  .site.w1170 .container {
      width: 1170px;
  }

  .site.w1200 .container {
      width: 1200px;
  }
}

#layout {
    padding-top: 10px;
    background: white;
}

@media (min-width: 992px) {
    .content-area {
        width: 75%;
        float: left;
    }

    .widget-area {
        width: 25%;
        float: left;
    }

    .sidebar-both {
        .content-area {
            width: 60%;
        }
        .widget-area {
            width: 20%;
        }
        .content-area {
            left: 20%;
            padding-left: 0;
            padding-right: 0;
        }
        #secondary-1.widget-area {
            right: 60%;
        }
    }

    .sidebar-left {
      .content-area {
          left: 25%;
          padding-left: 0;
      }
      .widget-area {
          right: 75%;
      }
    }

    .sidebar-right .content-area {
        padding-right: 0;
    }
}

.sidebar-none .widget-area {
    display: none;
}

.no-sidebar .content-area {
    width: 100%;
}

.content-area, .widget-area {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    word-wrap: break-word;
}
