/*--------------------------------------------------------------
##  Backtop
--------------------------------------------------------------*/
#backtotop {
    background: $main-color;
    color: white;
    font-size: 22px;
    line-height: 44px;
    @include position(fixed, auto, 20px, 20px, auto);
    @include square(44px);
    @include border-radius(50%);
    cursor: pointer;
    text-align: center;
    z-index: 9999;
}
