/* Columns Footer */
.columns-footer {
  padding: 30px 0;
  .widget-title {
    color: #1f1e1e;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
  }
  .widget_nav_menu {
    .menu li {
      a {
          display: block;
          color: #1f1e1e;
          font-size: 12px;
          line-height: 25px;
      }
    }
  }
  .footer-1 {
    .widget_text {
      margin-top: 30px;
      .fa {
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }
  .col-xs-12 {
    margin-bottom: 10px;
  }
}
