/*--------------------------------------------------------------
##  Copyright
--------------------------------------------------------------*/
.copyright {
    background: $main-color;
    color: white;
    padding: 15px;
    position: relative;
    a {
        color: white;
    }
    .container {
        position: relative;
        max-width: 100%;
    }
}

.copyright-left {
    color: white;
}

@media (min-width: 414px) {
    .copyright {
        padding: 7px 10px;
    }

    .copyright-left {
        float: left;
        text-align: left;
    }

    .copyright-right {
      @include position(absolute, auto, 20px, auto, 25px);
    }
}

.copyright-right a {
    color: white;
}

@media (max-width: 413px) {
    .copyright-left {
        margin-bottom: 10px;
    }
}
