/*--------------------------------------------------------------
##  Mobile Menu
--------------------------------------------------------------*/
.mega-mobile-menu, .mobile-menu-container {
    background: black;
    width: 250px;
    @include position(fixed, 0, 0, 0, auto);
    @include transform(translate(250px));
    @include transition(all .25s ease-in-out);
    z-index: 999999;
    ul {
        padding-left: 0;
        list-style: none;
        li {
            position: relative;
            a {
                border-bottom: 1px solid #212121;
                color: #d8d8d8;
                display: block;
                padding: 11px;
            }
            ul.sub-menu {
                display: none;
                padding-left: 0;
                list-style: none;
            }
        }
        li.active > ul.sub-menu  {
            background: #3a3a3a;
            display: block;
        }
        li.menu-item-has-children.active > i.fa:before {
            @include rotate(-180deg);
        }
    }
}

.mobile-menu-container {
    @include transform(translate(-250px));
    left: 0;
}

.close-menu {
    text-align: center;
    color: #d8d8d8;
    padding: 14px;
    cursor: pointer;
    border-bottom: 1px solid #212121;
}

.mobile-menu-active {
    .mobile-menu-container {
        @include transform(translate(0));
    }
}

.mega-mobile-menu-active {
    .mega-mobile-menu {
        @include transform(translate(0));
    }
}

.mega-mobile-menu-active .overlay,
.mobile-menu-active .pd-overlay {
    background: rgba(0, 0, 0, 0.15);
    @include position(fixed, 0, 0, 0, 0);
}

.menu-item-has-children > i {
    background: #2d2d2d;
    color: white;
    @include position(absolute, 0, 0, auto, auto);
    @include square(42px);
    cursor: pointer;
}

.menu-item-has-children > i:before {
    @include position(absolute, 15px, 15px, auto, auto);
}
