/* Top Footer */
.top-footer {
    background: #292929;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-footer .widget_nav_menu {
    .menu {
        margin-bottom: 0;
        display: table;
        margin: 0 auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        li {
            float: left;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            a {
                display: block;
                padding: 8px 15px;
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                &:hover {
                    color: #fffd79;
                }
            }
        }
        &.current-menu-item > a {
          color: #fffd79;
        }
    }
}
