/*--------------------------------------------------------------
##  Header Search
--------------------------------------------------------------*/
.header-search {
    .search-form {
      position: relative;
      margin: 6px;
      .search-field {
          width: 100%;
          padding: 5px 10px;
          border: none;
          border-radius: 30px;
          @include transition(all .25s ease-in-out);
          outline: none;
      }
      .search-submit {
          background: transparent;
          color: #292929;
          border: 0;
          font-weight: 600;
          padding: 5px 10px;
          border-radius: 0 30px 30px 0;
          @include position(absolute, 0, 0, auto, auto);
      }
      > label {
        display: none;
      }
  }
  &.col-lg-1 .search-form .search-field {
        position: absolute;
        right: 0;

        &:focus {
            width: 250px;
        }
  }
}

@media ( min-width: 1200px ) {
    .has-vertical-mega-menu .header-search.col-lg-1 .search-form .search-field:focus {
        width: 250px;
    }
}
