/*--------------------------------------------------------------
##  Logo
--------------------------------------------------------------*/
.custom-logo-link {
    display: block;
}

@media (max-width: 767px) {
    .custom-logo-link {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .custom-logo-link {
        display: block;
    }
}
