/*--------------------------------------------------------------
##  Main Navigation & Primary Menu
--------------------------------------------------------------*/
@media ( min-width: 783px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 32px;
    }
}

@media ( min-width: 601px ) and ( max-width: 782px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 46px;
    }
}

.fixed-nav-menu {
    .main-navigation {
      @include position(fixed, 0, 0, auto, 0);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .animated {
        @include animation-duration(.5s);
        @include animation-fill-mode(both);
        will-change: transform,opacity;
    }
}

.animated {
    &.slideDown {
      @include animation-name(slideDown);
    }
    &.slideUp {
      @include animation-name(slideDown);
    }
}

@media (min-width: 1200px) {
    .site.boxed .main-navigation .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-navigation {
    padding-bottom: 10px;
}

#primary-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li {
        position: relative;
        a {
            color: #fff;
            font-size: 14px;
            display: block;
            padding: 10px;
            text-transform: uppercase;
            @include transition(all .25s ease-in-out);
            &:hover {
                background: #000;
            }
        }
        &.menu-item-has-children > a {
            &:after {
                content: '\f107';
                font-family: fontawesome;
                margin-left: 10px;
            }
        }
        ul.sub-menu {
            background: $main-color;
            opacity: 0;
            visibility: hidden;
            margin-top: 30px;
            width: 250px;
            @include position(absolute, 0, auto, auto, 250px);
            padding-left: 0;
            list-style: none;
            box-shadow: 0 0 3px #8c8c8c;
            z-index: 9999;
            @include transition(all .25s ease-in-out);
            li {
                border-bottom: 1px solid #565656;
                &.menu-item-has-children {
                  > a {
                    &:after {
                      float: right;
                      content: '\f105';
                    }
                  }
                }
            }
        }
        &:hover {
            > ul.sub-menu {
                opacity: 1;
                visibility: visible;
                margin-top: 0;
            }
        }
    }
    > li {
        float: left;
        > a {
          margin: 21px;
          color: black;
          &:hover {
            color: #fff;
          }
        }
        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.16);
        }
        > ul.sub-menu {
            left: 0;
            top: auto;
        }
    }
}

.pd-navbar-toggle {
    background: #fff;
    padding: 0;
    margin: 31px 0;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    .icon-bar {
        background: black;
        display: block;
        position: relative;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        outline: none;
        + .icon-bar {
            margin-top: 4px;
        }
    }
}

@media (max-width: 480px) {
    .main-navigation {
      margin: 25px 0;
    }
}
