.pd__topbar {
    text-align: right;
}

.pd__topbar {
    .search-form {
        border: 1px solid #373435;
        font-size: 12px;
    }
    .topbar-search {
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;
    }
    a {
        display: inline-block;
        padding: 8px 12px;
        text-transform: uppercase;
        font-size: 12px;
        border: 1px solid #373435;
        &.login-in {
          background: #373435;
          color: white;
        }
    }
}

@media (max-width: 767px) {
    .pd__topbar {
        .topbar-search {
            display: none;
        }
    }
}
