/*--------------------------------------------------------------
#  Vertical Mega Menu
--------------------------------------------------------------*/
.vertical-mega-menu {
    position: relative;
    .vertical-mega-menu-title {
        margin-bottom: 0;
        background: #006f94;
        border-radius: 0;
        text-align: left;
        padding: 11px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .vertical-mega-menu-title:after {
        content: "\f039";
        float: right;
        font-family: fontawesome;
        font-weight: 100;
    }
    .pd_mega_menu {
        .menu {
            position: absolute;
            z-index: 9999;
            background: white;
            width: calc(100% - 30px);
            border: 1px solid #ccc;
            opacity: 0;
            visibility: hidden;
            margin-top: 30px;
            list-style: none;
            margin-bottom: 0;
            padding: 0;
            @include transition(all .25s ease-in-out);
            ul.sub-menu {
                margin-bottom: 0;
                padding-left: 0;
                > li {
                    border-bottom: 1px solid #eee;
                }
            }
            li {
                list-style: none;
                a {
                    display: block;
                    padding: 10px;
                    color: #333;
                }
            }
            > li {
                border-bottom: 1px solid #eee;
                > .sub-menu {
                    opacity: 0;
                    visibility: hidden;
                    margin-left: 30px;
                    @include transition(all .25s ease-in-out);
                }
                > .sub-menu {
                    background: white;
                    width: 700px;
                    @include position(absolute, -1px, auto, auto, 100%);
                    border: 1px solid #ccc;
                    > li {
                        padding: 0 10px;
                        a {
                            padding-left: 0;
                        }
                    }
                    > li.w3c {
                        > a {
                            text-transform: uppercase;
                            color: #404040;
                            font-weight: bold;
                            border-bottom: 1px solid #ccc;
                            position: relative;
                        }
                        > a:after {
                            content: '';
                            display: block;
                            width: 100px;
                            height: 1px;
                            background: blue;
                            @include position(absolute, auto, auto, -1px, 0);
                        }
                    }
                }
            }
            > li:hover {
                > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    margin-left: 0;
                }
            }
            .w3c {
                width: calc(100% / 3);
                float: left;
            }
        }
    }
}

.home .site:not(.fixed-nav-menu) .vertical-mega-menu .pd_mega_menu .menu,
.vertical-mega-menu .pd_mega_menu:hover .menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

@media ( max-width: 1199px ) {
    .vertical-mega-menu .pd_mega_menu {
        display: none;
    }
}

.vertical-mega-menu #mega-menu-toggle {
    float: left;
}
